:root {
  --grid-col: auto;
  --gutter: #{$container-padding};
  --justify: start;
  --text-align: left;
  --vertical-space: 8rem;
}

html {
  box-sizing: border-box;
  font-size: 88.8888%;
  height: 100%;
  -webkit-text-size-adjust: 100%;
  @media (min-width: $sm) {
    font-size: 100%;
  }
}

body {
  background-color: $white;
  color: $black;
  font-size: 1em;
  overflow-x: hidden;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
}

* {
  text-underline-offset: 0.1em;
  @media (min-width: $sm) {
    hanging-punctuation: first;
  }
}

main {
  @include style-body;
}

header,
footer {
  overflow-wrap: break-word;
}

article {
  margin-bottom: var(--vertical-space);
  overflow-wrap: break-word;
  padding-bottom: var(--vertical-space);
}

button,
select,
textarea,
input {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

h1 {
  @include style-h1;
  @include container;
  margin: 3.5rem auto $my-xl;
}

h2 {
  @include style-h2;
  @include container;
  margin: 3.5rem auto $my-sm;
}

h3 {
  @include style-h3;
  @include container;
  margin: 3.5rem auto $my;
}

h4 {
  @include style-h4;
  @include container;
  margin: 3.5rem auto $my;
}

h5 {
  @include style-h5;
  margin: 3.5rem auto $my;
  max-width: $container-width;
  padding: 0 var(--gutter);
}

h6 {
  @include style-h6;
  margin: 3.5rem auto $my;
  max-width: $container-width;
  padding: 0 var(--gutter);
}

p,
details,
dl {
  @include container;
  margin: 0 auto $my auto;
}

ul {
  @include style-body;
  @include container;
  margin: 0 auto $my auto;
  padding-left: 1.75rem;
  @media (min-width: $sm) {
    padding-left: 2rem;
  }
  @media (min-width: $md) {
    padding-left: var(--gutter);
  }
}

ol {
  @include style-body;
  @include container;
  margin: $my-lg auto $my-lg auto;
  padding-left: 2rem;
  @media (min-width: $sm) {
    padding-left: 2.5rem;
  }
  @media (min-width: $md) {
    padding-left: var(--gutter);
  }
}

ol li {
  margin-bottom: 0.75rem;
}

ol li:last-child {
  margin-bottom: 0;
}

a {
  color: inherit;
  text-decoration-line: none;
  &:hover {
    text-decoration-line: underline;
  }
}

img {
  display: inline-block;
  height: auto;
  margin-bottom: $my;
  max-width: 100%;
  vertical-align: middle;
}

button,
[type="submit"] {
  @include style-h5;
  appearance: none;
  border: 0;
  border-radius: 0;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

svg {
  display: inline-block;
  height: auto;
  vertical-align: middle;
}

summary {
  cursor: pointer;
  margin-bottom: $my;
}

body:not(.is-tabbing) button:focus,
body:not(.is-tabbing) input:focus,
body:not(.is-tabbing) select:focus,
body:not(.is-tabbing) textarea:focus,
body:not(.is-tabbing) summary:focus {
  outline: none;
}

iframe {
  max-width: 100%;
}

hr {
  @include container($container-width);
  background-color: $black;
  border: none;
  color: $black;
  height: 1px;
  margin-bottom: $my-lg;
  margin-top: $my-lg;
}

form {
  @include container;
  margin: $my-lg auto;
}

label {
  @include style-h5;
  a {
    text-decoration-line: underline;
  }
  a:hover {
    text-decoration-line: underline;
  }
}

input[type="text"] {
  border: 1px solid $black;
  display: block;
  width: 100%;
}

button[type="submit"],
input[type="submit"] {
  bottom: 0;
  color: $black;
  cursor: pointer;
  padding: $container-padding;
}

mark {
  background-color: rgba(255, 251, 32, 0.473);
}

abbr,
acronym {
  text-decoration-line: none;
}

address {
  font-style: normal;
}

tt,
code,
kbd,
pre {
  @include code;
}

small {
  @include style-small;
}

pre {
  @include container;
  background-color: #eeeeee;
  margin: $my-lg auto;
  overflow: scroll;
  overflow-wrap: normal;
  padding-bottom: 1.125rem;
  padding-top: 1rem;
}

pre code {
  background-color: transparent;
}

abbr {
  @include style-h5;
}

details p {
  padding: 0;
}

blockquote {
  border-left: 1px solid $black;
  margin-bottom: $my-lg;
  margin-left: var(--gutter);
  margin-right: var(--gutter);
  margin-top: $my-lg;
  max-width: calc(#{$container-width} - calc(var(--gutter) * 2));
  @media (min-width: $container-width-em) {
    margin-left: auto;
    margin-right: auto;
  }
}

blockquote > cite,
blockquote > footer > cite {
  @include style-h6;
  display: block;
  padding-left: var(--gutter);
}

blockquote > * {
  padding-right: 0;
}

blockquote > blockquote {
  margin-left: $my;
}

blockquote ol {
  margin-bottom: $my;
  margin-top: $my;
  padding-left: 2rem;
  @media (min-width: $sm) {
    padding-left: 2.25rem;
  }
}

blockquote ul {
  padding-left: 1.5rem;
  @media (min-width: $sm) {
    padding-left: 1.75rem;
  }
}

figure {
  @include container;
  margin-bottom: $my-lg;
  margin-top: $my-lg;
  &:first-child {
    margin-top: $my;
  }
}

figcaption {
  @include container;
  @include style-small;
  margin-bottom: 0;
  margin-top: $my / 2;
}

th {
  font-weight: inherit;
  text-align: left;
}
