.wp-block-gallery {
  margin-bottom: 0;
  &.alignfull,
  &.alignwide {
    max-width: none !important;
  }
  &.alignleft,
  &.alignright {
    max-width: 40rem;
  }
  ~ p,
  ~ ul,
  ~ ol {
    margin-top: 0.5rem !important;
  }
}
