.searchform {
  margin-bottom: 2em;
  margin-top: 2em;
}

.searchform label {
  @include visuallyhidden;
}

.searchform input {
  background-color: inherit;
}

.searchform input[type="text"] {
  border: 1px solid transparent;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: calc(100vw - (var(--gutter) * 2));
  padding: $container-padding 0 $container-padding $container-padding;
  width: 100%;
}

.searchform input[type="submit"] {
  @include style-h4;
  background-color: $white;
  border: none !important;
  color: $black;
  cursor: pointer;
  padding: 1rem;
}

.searchform input[type="submit"]:hover,
.searchform input[type="submit"]:focus {
  background-color: $black !important;
  color: $white;
}

.searchform__group {
  border: 1px solid black;
  display: flex;
  margin-bottom: 0.5rem;
}
