.site-footer {
  padding-bottom: 3rem;
}

.infinite-loading,
.infinite-end {
  display: none;
  margin-bottom: 2em;
  padding-top: 10vh;
}

.infinite-loading.show,
.infinite-end.show {
  display: block;
}

.infinite-end a:hover {
  text-decoration: underline;
}
