.nav {
  @include container($container-width-xl);
  align-items: baseline;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: var(--vertical-space);
  margin-top: $my;
}

.nav .menu {
  margin-bottom: 0.5rem;
}

.page-context {
  margin-bottom: calc(var(--vertical-space) * 1.25);
}

.breadcrumb {
  margin: 0;
  padding: 0;
}

.breadcrumb p {
  @include style-h5;
}

.page-description > p,
.page-description > details,
.page-description > dl {
  @include style-h3;
}

.page-description > *:last-child {
  margin-bottom: 0;
}

.post-time {
  @include style-h5;
}

.post-title {
  @include style-h1;
  margin: 0 auto $my-xl;
}

.post-footer {
  clear: both;
}

.meta {
  @include style-h5;
}

.post-meta-title {
  font-style: italic;
}

.term {
  display: inline;
}

.term:last-child .separator {
  display: none;
}

.rpbt_shortcode {
  margin-bottom: var(--vertical-space);
}

.rpbt_shortcode h3 {
  @include style-h5;
  @include container($container-width-xl);
  margin-top: 0;
}

.rpbt_shortcode .post-index {
  margin-top: 0;
}

.post-index {
  @include style-small;
  max-width: none;
  padding: 0;
}

.post-index__post-item {
  list-style-type: none;
  position: relative;
}

.post-item {
  @include container($container-width-xl);
  align-items: baseline;
  border-top: 1px solid $black;
  display: grid;
  grid-column-gap: 2rem;
  grid-template-columns: repeat(12, 1fr);
  padding-bottom: 1.125rem;
  padding-top: 1rem;
  text-shadow: white 0 0 10px;
}

.post-index__post-item:last-child .post-item {
  border-bottom: 1px solid $black;
}

.post-item > * {
  z-index: 100;
}

.post-item > *:nth-child(1) {
  grid-column: 1 / span 12;
  @media (min-width: $lg) {
    grid-column: 1 / span 2;
  }
}

.post-item > *:nth-child(2) {
  grid-column: 1 / span 12;
  @media (min-width: $lg) {
    grid-column: 3 / span 5;
  }
}

.post-item > *:nth-child(3) {
  grid-column: 1 / span 12;
  @media (min-width: $lg) {
    grid-column: 8 / span 5;
  }
}

.post-item__text {
  @include style-body;
  display: block;
  margin-bottom: 0.25rem;
}

.post-item__image {
  display: block;
  margin: 0;
  max-width: var(--max-width);
  opacity: 0.4;
  position: absolute;
  right: var(--pos-right);
  top: 50%;
  transform: translate(50%, calc(-50% + calc(var(--trans-y) / 3)))
    rotate(var(--rotate));
  transition: opacity 300ms;
  z-index: -10;
}

.post-item__terms {
  @include style-h5;
  margin: 0;
  padding: 0;
}

@media not all and (hover: none) {
  .post-item__image {
    opacity: 1;
  }
  .post-index__post-item:hover .post-item__image {
    opacity: 0.4;
    transition: opacity 100ms;
  }
}

// Index

.termindex {
  @include container($container-width-xl);
  column-gap: var(--gutter);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(11rem, 1fr));
  row-gap: 5rem;
  @media (min-width: $lg) {
    columns: 11rem auto;
    display: block;
  }
}

.termindex h2 {
  @include style-body;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  max-width: none;
  padding: 0;
}

.termindex ol {
  @include style-h3;
  list-style-type: none;
  margin-bottom: $my-lg;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  max-width: none;
  padding: 0;
}

.termindex li {
  margin-bottom: 0;
  margin-left: 1rem;
  text-indent: -1rem;
}

.termindex a:not([class]) {
  text-decoration-line: none;
}
.termindex a:not([class]):hover {
  text-decoration-line: underline;
}

.term__count {
  @include style-h5;
  margin-left: 0.5rem;
}

.termindex .term--post_format,
.termindex .term--category {
  @include style-body;
}

.post-item__time {
  @include style-h5;
}

article.page {
  margin-top: 8rem;
}

.cp-table {
  @include container($container-width-xl);
}

.cp-table-row {
  border-top: 1px solid $black;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-top: 1rem;
}

.cp-table-row:last-child {
  border-bottom: 1px solid $black;
}

.cp-row-header,
.cp-row-body {
  margin-bottom: 1.125rem;
  @media (min-width: $lg) {
    display: grid;
    grid-column-gap: 2rem;
    grid-template-columns: repeat(12, 1fr);
    justify-items: start;
  }
}

.cp-row-header {
  align-items: baseline;
}

.cp-row-body {
  align-items: start;
}

.cp-row-header > *,
.cp-row-body > * {
  @media (min-width: $lg) {
    grid-column: var(--grid-col);
    justify-self: var(--justify);
    text-align: var(--text-align);
  }
}

.cp-row-header a {
  text-decoration-line: none !important;
}

.cp-row-header a:hover {
  text-decoration-line: underline !important;
}

.cp-row-header > h3 {
  --grid-col: auto / span 8;
}

.cp-row-header > h3 a:after {
  content: "\2193";
  display: inline-block;
  margin-left: 1em;
}

.cp-table-row--open .cp-row-header > h3 a:after {
  transform: rotate(180deg);
}

@media (hover: hover) {
  .cp-row-header > h3 a:after {
    opacity: 0;
  }
  .cp-row-header > h3 a:hover:after {
    opacity: 1;
  }
}

.cp-row-header > p {
  --grid-col: 10 / span 3;
  --justify: end;
  --text-align: right;
}

.cp-row-body > div {
  --grid-col: 2 / span 6;
}

.cp-row-body > figure {
  --grid-col: 9 / span 4;
  --justify: end;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: $my;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  @media (min-width: $lg) {
    margin-top: 0;
  }
}

.cp-row-body > figure img {
  display: block;
  margin-bottom: 0;
  @media (min-width: $lg) {
    margin-left: auto;
  }
}

.cp-table h1,
.cp-table h2,
.cp-table h3,
.cp-table h4,
.cp-table h5,
.cp-table h6,
.cp-table p {
  margin: 0;
  max-width: none;
  padding: 0;
}
