.post__tags {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-left: 0;
  padding: 0;
}

.post__tag {
  color: $grey;
  margin-right: 1.5ch;
}

.post__tag a {
  text-decoration: none;
}

.post__tag:last-child .separator {
  display: none;
}

.post__tag a:hover,
.post__tag a:focus,
.post__tag a:active {
  text-decoration: underline;
}

.term__count {
  color: $grey;
}

.term--category {
  font-style: italic;
  text-transform: uppercase;
}

.term--post_format {
  font-style: italic;
  text-transform: lowercase;
}
