@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: oblique 0deg 10deg;
  font-weight: 100 900;
  src: url("fonts/inter/inter.var.woff2?v=3.13") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "CrimsonPro";
  font-named-instance: "Regular";
  font-style: normal;
  font-weight: 200 900;
  src: url("fonts/crimsonpro/crimsonpro-roman-vf.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "CrimsonPro";
  font-named-instance: "Italic";
  font-style: italic;
  font-weight: 200 900;
  src: url("fonts/crimsonpro/crimsonpro-italic-vf.woff2") format("woff2");
}
