@mixin font-sans {
  font-family: "WorkSans", "Helvetica", sans-serif;
  font-feature-settings: "ss01", "ss02", "ss04", "ss05", "ss06";
  @supports (font-variation-settings: normal) {
    font-family: "WorkSansVariable", "Helvetica", sans-serif;
  }
}

@mixin font-mono {
  font-family: "SourceCode", "Menlo", monospace;
  @supports (font-variation-settings: normal) {
    font-family: "SourceCodeVariable", "Menlo", sans-serif;
  }
}

@mixin style-body {
  @include font-sans;
  font-size: 1.1875rem;
  font-style: normal;
  font-variant-caps: normal;
  font-weight: 330;
  letter-spacing: 0.005em;
  line-height: 1.4;
  text-transform: none;
  word-spacing: -0.025em;
  a {
    text-decoration-thickness: 0.0625rem !important;
  }
  strong {
    font-weight: 500;
  }
}

@mixin style-h1 {
  @include font-sans;
  font-size: 2.3rem;
  font-style: normal;
  font-weight: 290;
  letter-spacing: -0.006em;
  line-height: 1.2;
  text-transform: none;
  word-spacing: 0;
  a {
    text-decoration-thickness: 0.125rem !important;
  }
}

@mixin style-h2 {
  @include font-sans;
  font-size: 1.6875rem;
  font-style: normal;
  font-weight: 280;
  letter-spacing: 0;
  line-height: 1.2;
  text-transform: none;
  word-spacing: 0;
  a {
    text-decoration-thickness: 0.125rem !important;
  }
}

@mixin style-h3 {
  @include style-body;
}

@mixin style-h4 {
  @include style-body;
  font-style: italic;
}

@mixin style-h5 {
  @include font-sans;
  font-size: 1rem;
  font-style: normal;
  font-variant-caps: small-caps;
  font-weight: 360;
  letter-spacing: 0.03em;
  line-height: 1.3;
  text-transform: lowercase;
  word-spacing: 0;
  a {
    text-decoration-thickness: 0.0625rem !important;
  }
}

@mixin style-h6 {
  @include font-sans;
  font-size: 0.914rem;
  font-style: normal;
  font-weight: 390;
  letter-spacing: 0;
  line-height: 1.3;
  text-transform: none;
  word-spacing: 0;
  @media (min-width: $sm) {
    font-size: 0.875rem;
  }
  a {
    text-decoration-thickness: 0.0625rem !important;
  }
}

@mixin style-caption {
  @include style-h6;
}

@mixin style-large($weight: 310) {
  @include style-h1;
}

@mixin style-small {
  @include style-h6;
}

@mixin container($width: $container-width) {
  margin-left: auto;
  margin-right: auto;
  max-width: $width;
  padding-left: var(--gutter);
  padding-right: var(--gutter);
}

@mixin visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

@mixin code {
  @include font-mono;
  background-color: #eeeeee;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 380;
  letter-spacing: -0.032em;
  line-height: 1.3;
  padding: 0 0.25em;
  text-transform: none;
  word-spacing: 0;
}

@mixin input-text {
  border: 1px solid $black;
  display: block;
  max-width: 100%;
  padding: $container-padding 0 $container-padding $container-padding;
  width: 100%;
  /* stylelint-disable */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* stylelint-enable */
}

@mixin input-submit {
  background-color: $black;
  border: 1px solid $black;
  color: $white;
  display: inline-block;
  padding: 0.5rem;
  @include style-h5;
  &:hover,
  &:focus {
    background-color: $white !important;
    color: $black;
  }
}
