@mixin font-sans {
  font-family: "Source Sans Variable", "PT Sans", "Helvetica",
    "Microsoft YaHei New", "Microsoft Yahei", STXihei, "ヒラギノ角ゴ ProN",
    "Hiragino Kaku Gothic ProN", "游ゴシック", "游ゴシック体", YuGothic,
    "Yu Gothic", "メイリオ", Meiryo, "ＭＳ ゴシック", "MS Gothic",
    HiraKakuProN-W3, "TakaoExゴシック", TakaoExGothic, "MotoyaLCedar",
    "Droid Sans Japanese", sans-serif;
}

@mixin font-serif {
  font-family: "Source Serif Variable", "PT Serif", "Georgia", "Times New Roman",
    Times, "FangSong", STFangSong, "ヒラギノ明朝 ProN", "Hiragino Mincho ProN",
    "游明朝", "游明朝体", YuMincho, "Yu Mincho", "ＭＳ 明朝", "MS Mincho",
    HiraMinProN-W3, "TakaoEx明朝", TakaoExMincho, "MotoyaLCedar",
    "Droid Sans Japanese", serif;
}

@mixin font-mono {
  font-family: "Menlo", monospace;
}

@mixin style-body {
  @include font-serif;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  a {
    text-decoration-thickness: 0.0625rem !important;
  }
}

@mixin style-h1 {
  @include font-serif;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 350;
  line-height: 1.25;
  text-transform: none;
  a {
    text-decoration-thickness: $underline !important;
  }
}

@mixin style-h2 {
  @include font-sans;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 375;
  line-height: 1.25;
  text-transform: none;
  a {
    text-decoration-thickness: $underline !important;
  }
}

@mixin style-h3 {
  @include font-sans;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 375;
  line-height: 1.5;
  text-transform: none;
  a {
    text-decoration-thickness: $underline !important;
  }
}

@mixin style-h4 {
  @include font-mono;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.285;
  text-transform: none;
  a {
    text-decoration-thickness: $underline !important;
  }
}

@mixin style-h5 {
  @include font-sans;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 425;
  letter-spacing: 0.2px;
  line-height: 1.2;
  text-transform: none;
  a {
    text-decoration-thickness: 0.0625rem !important;
  }
}

@mixin style-h6 {
  @include font-serif;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 425;
  letter-spacing: 0.25px;
  line-height: 1.2;
  text-transform: none;
  a {
    text-decoration-thickness: 0.0625rem !important;
  }
}

@mixin style-caption {
  @include style-h6;
}

@mixin style-large {
  @include style-h1;
}

@mixin style-small {
  @include style-h6;
}

@mixin container($width: $container-width, $offset: false) {
  margin-left: auto;
  @if $offset {
    margin-left: calc((100vw - #{$width}) / 2 - #{$offset});
  } @else {
    margin-left: auto;
  }
  margin-right: auto;
  max-width: $width;
  padding-left: var(--gutter);
  padding-right: var(--gutter);
}

@mixin visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

@mixin code {
  @include font-mono;
  background-color: #eeeeee;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.3;
  padding: 0 0.25em;
  text-transform: none;
}

@mixin input-text {
  border: 1px solid $black;
  display: block;
  max-width: 100%;
  padding: $container-padding 0 $container-padding $container-padding;
  width: 100%;
  /* stylelint-disable */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* stylelint-enable */
}

@mixin input-submit($keyline: false) {
  @include style-h5;
  border: 1px solid $black;
  display: inline-block;
  padding: 1.3125rem 3rem;
  @if $keyline {
    background-color: $white;
    color: $black;
    &:hover,
    &:focus {
      background-color: $black !important;
      color: $white;
    }
  } @else {
    background-color: $black;
    color: $white;
    &:hover,
    &:focus {
      background-color: $white !important;
      color: $black;
    }
  }
  &:hover,
  &:focus {
    text-decoration-line: none;
  }
}
