.post__header {
  margin-bottom: 6rem;
}

.post__footer {
  margin-top: 6rem;
}

.meta {
  @include style-small;
}

.meta a {
  text-decoration: none;
}

.meta a:hover {
  text-decoration: underline;
}

.post__footer {
  clear: both;
}
