@media print {
  @page {
    margin: 0;
    size: A4;
  }
  * {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
  html,
  body {
    background-color: #ffffff;
    font-size: 10px;
    overflow: visible;
  }
  article {
    padding-top: 15mm;
  }
  .prose img:not(.emoji) {
    height: auto !important;
    max-height: 5cm;
    max-width: 5cm;
    width: auto !important;
  }
  .prose .thumbs img {
    max-width: 100%;
  }
  .prose img.alignleft,
  .prose p .alignleft {
    margin-left: 0;
    padding-left: 0;
  }
  .prose img.alignright,
  .prose p .alignright {
    margin-right: 0;
    padding-right: 0;
  }
  .termindex {
    margin-left: auto;
    margin-right: auto;
    max-width: 40rem;
  }
}
