.prose > * {
  hyphens: manual;
  @media (min-width: $md) {
    hanging-punctuation: first;
  }
}

p.has-background {
  padding-bottom: var(--gutter);
  padding-top: var(--gutter);
}

.notes {
  @include style-small;
}

.notes strong {
  @include style-caption;
}

ol {
  margin: $my auto;
  max-width: $container-width;
  padding: 0 2.25rem;
}

.prose ul:not(.blocks-gallery-grid) {
  list-style: none !important;
  margin: $my auto;
  max-width: $container-width;
  padding: 0 var(--gutter);
}

.prose ul li:not(.blocks-gallery-item) {
  padding-left: 1rem;
  text-indent: -1rem;
}

.prose ul li:not(.blocks-gallery-item):before {
  content: "–";
  margin-right: 0.3125rem;
}

.prose > a {
  display: block;
  margin: $my auto;
  max-width: $container-width;
  padding: 0 var(--gutter);
}

blockquote {
  @include style-h4;
  margin: $my-lg auto;
  max-width: $container-width;
  padding: 0 var(--gutter);
}

blockquote > * {
  margin: 0 auto $container-padding;
  padding-left: 5rem;
  padding-right: 0;
}

blockquote.is-style-large,
blockquote.is-style-large > * {
  max-width: $container-width-md;
  padding-left: 0;
}

blockquote *:last-child {
  margin-bottom: 0;
}

cite {
  display: block;
  font-size: inherit !important;
}

cite:before {
  content: "—";
}

form {
  margin: $my-lg auto;
  max-width: $container-width;
  padding: 0 var(--gutter);
}

dl {
  margin: $my auto;
  max-width: $container-width;
  padding: 0 var(--gutter);
}

details {
  margin: $my auto;
  max-width: $container-width;
  padding: 0 var(--gutter);
}

hr {
  margin: $my-lg auto;
  max-width: calc(#{$container-width} - calc(var(--gutter) * 2));
  padding: 0 var(--gutter);
}

hr.is-style-wide {
  max-width: calc(100% - calc(var(--gutter) * 2));
}

.wp-block-separator.is-style-dots::before {
  font-size: 3rem;
  line-height: 0.25;
}

figure {
  margin-left: auto;
  margin-right: auto;
  max-width: $container-width;
  padding: 0 var(--gutter);
}

figure.alignwide {
  max-width: 75rem;
}

figcaption {
  @include style-caption;
  margin-top: 1rem;
}

figure.alignwide figcaption {
  margin-left: auto;
  margin-right: auto;
  max-width: $container-width;
  padding: 0 var(--gutter);
}

figure.wp-block-gallery {
  margin: $my-lg auto;
  max-width: $container-width;
  padding: 0 var(--gutter);
}

figure.wp-block-gallery.aligncenter {
  max-width: $container-width-xl;
}

figure.wp-block-gallery.alignleft {
  margin-left: 0;
}

figure.wp-block-gallery.alignright {
  margin-right: 0;
}

figure.wp-block-gallery figure {
  padding: 0;
}

figure.wp-block-gallery.columns-1 figure {
  display: block;
  height: auto;
  margin: $my auto;
  max-width: $container-width-xl;
}

figure.wp-block-gallery.columns-1 li:first-child figure {
  margin-top: 0;
}

figure.wp-block-gallery.columns-1 li:last-child figure {
  margin-bottom: 0;
}

figure.wp-block-gallery.columns-1 img {
  object-fit: contain !important;
}

figure.wp-block-gallery.columns-1 figcaption {
  @include style-caption;
  background: none;
  color: inherit;
  margin-left: auto;
  margin-right: auto;
  max-width: $container-width;
  padding: 0 var(--gutter);
  position: static;
}

figure.wp-block-video {
  margin: $my-lg auto;
  max-width: $container-width;
  padding: 0 var(--gutter);
}

figure.wp-block-video video {
  width: 100%;
}

figure.wp-block-video.aligncenter {
  max-width: $container-width-xl;
}

figure.wp-block-video.alignleft {
  margin-left: 0;
}

figure.wp-block-video.alignright {
  margin-right: 0;
}

.prose > *:first-child {
  margin-top: 0 !important;
}

.prose > *:last-child {
  margin-bottom: 0 !important;
}

p,
li,
details,
dl,
table,
figcaption {
  a {
    text-decoration: underline;
  }
  a:hover,
  a:focus {
    text-decoration: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  a {
    text-decoration: none;
    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}

pre {
  background-color: #eeeeee;
  font-family: $font-mono;
  font-size: inherit;
  margin-left: auto;
  margin-right: auto;
  max-width: calc(100vw - (var(--gutter) * 2));
  overflow: scroll;
  overflow-wrap: normal;
  padding: var(--gutter);
  width: $container-width-lg;
}

pre h1,
pre h2,
pre h3,
pre h4,
pre h5,
pre h6 {
  font-size: inherit;
  font-weight: inherit;
}

pre code {
  display: block;
  white-space: pre-wrap;
}

pre.nowrap code {
  white-space: inherit;
}

table {
  border-collapse: collapse;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  overflow-x: scroll;
  padding: 0 var(--gutter) 1.5rem;
  width: fit-content;
}

th {
  font-weight: normal;
  text-align: left;
}

tr {
  vertical-align: top;
  > * {
    border-bottom: 1px solid black;
    min-width: 9em;
    padding-bottom: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.5em;
  }
  > *:last-child {
    padding-right: 0;
  }
}

dd {
  padding-left: 1.5em;
}

ins {
  position: relative;
  &:before {
    content: "‸";
    position: absolute;
    text-align: center;
    top: 2px;
    width: 100%;
  }
}

mark {
  background-color: rgba(255, 255, 64, 0.65);
}

textarea,
input[type="text"],
input[type="url"],
input[type="password"],
input[type="search"] {
  @include input-text;
}

label {
  @include style-h4;
  display: block;
  margin-top: 1.5rem;
}

button,
input[type="submit"] {
  @include input-submit;
}

input[id*="pwbox"] {
  margin-bottom: 1.5rem;
  margin-top: 0.25rem;
}

.wp-block-file {
  margin: $my auto;
  max-width: $container-width;
  padding: 0 var(--gutter);
}

.has-small-font-size {
  @include style-small;
}

.has-medium-font-size,
.has-large-font-size {
  @include style-large;
  margin-bottom: $my-lg;
  margin-top: $my-lg;
  max-width: $container-width-md;
}

[class*="wp-audio"],
[class*="wp-video"],
[class*="wp-block-audio"],
[class*="wp-block-video"] {
  button {
    background-color: rgba(0, 0, 0, 0) !important;
    border: none !important;
    &:hover,
    &:focus {
      background-color: rgba(0, 0, 0, 0) !important;
    }
  }
}

.wp-block-search {
  display: block;
}

.wp-block-search label {
  @include visuallyhidden;
}

.wp-block-search input {
  max-width: none;
  width: 100%;
}

.wp-block-search .wp-block-search__button {
  background-color: transparent;
  color: inherit;
  margin-left: 0;
  margin-top: 0.5rem;
}

.wp-block-search__button:hover {
  text-decoration: underline;
}

.wp-block-archives a,
.wp-block-categories a,
.wp-block-latest-posts a {
  text-decoration: none;
}

.wp-block-archives a:hover,
.wp-block-categories a:hover,
.wp-block-latest-posts a:hover {
  text-decoration: underline;
}

// Overrides of dumb WP default styles

.wp-block-image {
  margin-bottom: $my-lg;
  margin-top: $my-lg;
}

.wp-block-quote.is-style-large {
  @include style-h2;
  margin: $my auto;
  padding: 0 var(--gutter);
}

.wp-block-quote.is-style-large p {
  font-size: inherit;
  font-style: normal;
  line-height: inherit;
}

.wp-block-quote.is-large cite,
.wp-block-quote.is-large footer,
.wp-block-quote.is-style-large cite,
.wp-block-quote.is-style-large footer {
  text-align: left;
}

.wp-block-latest-posts.wp-block-latest-posts__list {
  list-style: disc;
}
