.container {
  @include container;
}

.container--xl {
  @include container($container-width-xl);
}

.hidden {
  display: none;
}

.visuallyhidden {
  @include visuallyhidden;
}

.visuallyhidden.button:focus,
.visuallyhidden.button:active {
  background-color: $black;
  color: $white;
  display: inline-block;
  height: auto;
  left: auto;
  margin: 1rem auto 0 auto;
  overflow: auto;
  padding: 0.5rem;
  position: static;
  text-align: center;
  top: auto;
  white-space: nowrap;
  width: auto;
  z-index: auto;
}

.visuallyhidden.button:hover {
  background-color: $white;
  color: $black;
}

.screenshot {
  -webkit-box-shadow: 0px 8px 19px -3px rgba(170, 170, 170, 1);
  -moz-box-shadow: 0px 8px 19px -3px rgba(170, 170, 170, 1);
  box-shadow: 0px 8px 19px -3px rgba(170, 170, 170, 1);
}

img.pixels {
  image-rendering: crisp-edges;
}

.thumbs {
  @include container;
  display: grid;
  grid-column-gap: calc(var(--gutter) / 2);
  grid-row-gap: calc(var(--gutter) / 2);
  grid-template-columns: repeat(auto-fill, 80px);
  margin-bottom: $my;
}

.thumbs img {
  float: none !important;
  margin-bottom: 0 !important;
  margin-right: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.thumbs--with-borders img {
  border: 1px solid rgb(230, 230, 230);
}

.prose .thumbs img {
  width: auto !important;
}

.mocking {
  font-feature-settings: "aalt";
}
