$black: #000000;
$grey: #616161;
$white: #ffffff;

$container-width: 39rem;
$container-width-em: 39em;
$container-width-md: 50rem;
$container-width-lg: 56rem;
$container-width-xl: 100rem;
$container-padding: 1rem;
$container-padding-em: 1em;

$underline: 0.0625rem;

$sm: 31.25em;
$md: 43.75em;
$lg: 50em;
$xl: 60em;

$aside-width: 16rem;
$aside-width-em: 16em;

$my-sm: 0.75rem;
$my: 1.25rem;
$my-md: 2rem;
$my-lg: 2.25rem;
$my-xl: 3.5rem;

$mx: 2rem;
$mx-em: 2em;
$mqAside: ((($mx-em * 2) + $aside-width-em) * 2) + $container-width-em;
