$black: #000000;
$grey: #949494;
$white: #ffffff;

$font-mono: monospace;
$font-serif: serif;
$font-sans: "Verdana", sans-serif;

$font-body: $font-serif;
$font-small: $font-serif;
$font-heading: $font-sans;

$container-width: 40rem;
$container-padding: 1rem;
$container-padding-mobile: 0.5rem;
$header-height: 3.5rem;

$sm: 42em;

$transition-duration: 250ms;
$border-width: 1px;

$size-body: 1.25rem;
$size-h1: 1.5rem;
$size-h2: $size-body;
$size-h3: $size-body;
$size-h4: $size-body;
$size-small: 1rem;

$max-aligned-width: 16em;
