.comments {
  margin-bottom: 2rem;
  margin-top: 1.5rem;
  details {
    color: $black;
  }
  details[open] {
    color: $black;
    margin-bottom: 3rem;
  }
  label {
    display: block;
    margin-bottom: 0.25rem;
  }
  input[type="checkbox"] {
    margin-right: 0.5rem;
  }
  input[type="checkbox"] ~ label {
    display: inline;
    letter-spacing: normal;
    text-transform: none;
  }
  textarea,
  input[type="text"],
  input[type="url"] {
    @include input-text;
  }
  input[type="text"] {
    padding: $container-padding 0 $container-padding $container-padding;
  }
  input[type="submit"] {
    @include input-submit;
  }
}

.comment-reply-title {
  display: none;
}

.comment-respond label {
  @include style-h5;
}

.comments__count {
  color: $grey;
}

.comment-form-cookies-consent {
  display: flex;
  input[type="checkbox"] {
    margin-top: 0.25rem;
  }
}

.comment-form-cookies-consent label {
  @include style-body;
}

.comments--has-comments {
  margin-top: 3rem;
  details {
    color: $black;
  }
}

.comment-list {
  list-style-type: none;
  margin-top: 0;
  padding-left: 0;
  padding-right: 0;
  ol.children {
    list-style-type: none;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0;
  }
}

.comment-list > li {
  margin-bottom: $my-lg;
}

.comment-author {
  @include style-body;
  margin-bottom: 1.5rem;
  a:hover,
  a:focus {
    text-decoration-line: underline;
  }
  cite {
    font-style: normal;
  }
}

.comment-avatar {
  display: none;
  img {
    display: block;
    margin-bottom: 0.5rem;
    max-width: 3rem;
  }
}

.comment-list .comment,
.pingback,
.webmention {
  border: 1px solid $black;
  margin-top: 1rem;
  padding: $container-padding;
}

.comment-content {
  > h1,
  > h2,
  > h3,
  > h4,
  > h5,
  > h6,
  > p,
  > table {
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  a {
    text-decoration-line: underline;
  }
  a:hover {
    text-decoration-line: underline;
  }

  img {
    display: block;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
  }

  > blockquote,
  > ul {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  > ul {
    padding-left: 1rem;
  }
  *:last-child {
    margin-bottom: 0 !important;
  }
}

.comment-body .prose pre {
  max-width: 100%;
  /* stylelint-disable */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* stylelint-enable */
}

.comment-reply-link {
  @include input-submit;
}

.comment-respond p,
#webmention-form p,
.link_description > * {
  margin-bottom: 1.5em;
  margin-top: 1.5em;
}
