/* stylelint-disable */
.prose > twitter-widget {
  @include container;
  width: 40rem !important;
}
/* stylelint-enable */

.prose > iframe.instagram-media {
  margin-left: auto !important;
  margin-right: auto !important;
  width: calc(100vw - (var(--gutter) * 2)) !important;
}

.prose > p img {
  display: block;
  margin-bottom: $my-lg;
  margin-top: $my-lg;
  &.alignleft {
    clear: both;
    float: none;
    width: $aside-width * 1.5;
    @media (min-width: $mqAside) {
      float: left;
      margin-bottom: 0;
      margin-left: calc((#{$aside-width} + #{$mx}) * -1);
      margin-right: 0;
      margin-top: 0;
      width: $aside-width;
    }
  }
  &.alignright {
    clear: both;
    float: none;
    margin-left: 0;
    width: $aside-width * 1.5;
    @media (min-width: $mqAside) {
      float: right;
      margin-bottom: $my;
      margin-left: calc((#{$aside-width} + #{$mx}) * -1);
      margin-top: 0;
      width: $aside-width;
    }
  }
}

.prose > p:first-of-type img {
  margin-top: 0;
}

.prose > div {
  &.alignnone {
    @include container;
    margin-bottom: $my-lg;
    margin-top: $my-lg;
    width: 100% !important;
  }
  .aligncenter {
    display: block;
    margin-bottom: $my-lg;
    margin-left: auto;
    margin-right: auto;
    margin-top: $my-lg;
    padding: 0 var(--gutter);
  }
}

.wp-audio-shortcode {
  @include container;
  display: block;
  margin-bottom: $my;
  max-width: $container-width !important;
  min-width: 0 !important;
  width: auto !important;
}

.wp-caption img {
  margin-bottom: 0;
}

.wp-caption-text {
  @include style-small;
  margin-top: $my / 2;
  max-width: none;
  padding-left: 0;
  padding-right: 0;
}

.wp-video {
  @include container;
  margin-bottom: $my;
  max-width: $container-width !important;
  width: auto !important;
}

.wp-block-image {
  @include container($container-width-lg);
  margin: $my-lg auto;
}

.wp-block-image.size-large {
  @include container($container-width);
  figcaption {
    padding: 0;
  }
}

.wp-block-image .size-large {
  max-width: $container-width;
}

.wp-block-image .alignright {
  @include container(calc(#{$container-width} - (var(--gutter) * 2)));
  clear: both;
  float: none;
  padding: 0;
  width: 100%;
  @media (min-width: $mqAside) {
    margin-top: 0.25rem;
    position: absolute;
    right: calc((calc(100vw - #{$container-width}) / 2) - #{$aside-width});
    width: $aside-width;
  }
  figcaption {
    padding: 0;
  }
  img {
    width: $aside-width * 1.5;
  }
}

.wp-block-image .alignleft {
  @include container(calc(#{$container-width} - (var(--gutter) * 2)));
  clear: both;
  float: none;
  padding: 0;
  width: 100%;
  @media (min-width: $mqAside) {
    left: calc((calc(100vw - #{$container-width}) / 2) - #{$aside-width});
    margin-top: 0.25rem;
    position: absolute;
    width: $aside-width;
  }
  figcaption {
    padding: 0;
  }
  img {
    width: $aside-width * 1.5;
  }
}

.wp-block-image figcaption {
  @include style-small;
  margin-bottom: 0;
  margin-top: $my / 2;
  padding: 0;
  @media (min-width: $md) {
    padding: 0 var(--gutter);
  }
}

.wp-block-image img {
  margin-bottom: 0;
}

.wp-block-image.aligncenter img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wp-block-image.size-full {
  padding: 0 var(--gutter);
  figcaption {
    @include container;
    padding: 0;
    @media (min-width: $md) {
      padding: 0 var(--gutter);
    }
  }
}

.prose .wp-block-image .aligncenter {
  padding: 0;
}

.wp-block-image .aligncenter > figcaption,
.wp-block-image .alignleft > figcaption,
.wp-block-image .alignright > figcaption,
.wp-block-image.is-resized > figcaption {
  display: block;
}
