[aria-label="Pinned"] {
  @include style-h5;
}

.prose {
  margin-bottom: $my-xl;
}

.prose p,
.prose details,
.prose dl {
  @include style-body;
}

.prose a:not([class]),
.prose a.more-link {
  text-decoration-line: underline;
}

.prose a:not([class]):hover,
.prose a.more-link:hover {
  text-decoration-line: none;
}

.prose h1 a:not([class]),
.prose h2 a:not([class]),
.prose h3 a:not([class]),
.prose h4 a:not([class]),
.prose h5 a:not([class]),
.prose h6 a:not([class]) {
  text-decoration-line: none;
  &:hover {
    text-decoration-line: underline;
  }
}

.prose ul > li > ul {
  margin-bottom: 0;
}

.prose > p:last-child {
  margin-bottom: calc(#{$my} + 0.5rem);
}

.prose form p {
  padding: 0;
}

.wp-block-latest-posts.wp-block-latest-posts__list {
  list-style: disc;
  padding-left: 2.25rem;
  @media (min-width: $md) {
    padding-left: var(--gutter);
  }
}

.prose .wp-block-button {
  @include container;
  margin-bottom: $my;
  margin-top: $my;
}

.wp-block-button__link {
  @include input-submit;
  border-radius: 0;
}

.is-style-outline .wp-block-button__link {
  border: 1px solid $black;
  color: $black;
  @include input-submit(true);
}

hr.is-style-wide {
  @include container($container-width-lg);
}

.wp-block-audio {
  @include container;
  margin: $my-lg auto;
}

.wp-block-file {
  @include container;
  a:not([class]) {
    text-decoration-line: none;
  }
  a:not([class]):hover {
    text-decoration-line: underline;
  }
}

.wp-block-video {
  @include container;
  margin: $my-lg auto;
}

.wp-block-video video {
  width: 100%;
}

.wp-block-embed__wrapper {
  text-align: center;
}

.wp-block-embed__wrapper iframe {
  background: $black;
  width: calc(#{$container-width} - calc(var(--gutter) * 2));
}

.wp-block-archives,
.wp-block-categories,
.wp-block-latest-posts {
  margin: $my auto;
  label {
    display: block;
  }
  a:not([class]) {
    text-decoration-line: none;
  }
  a:not([class]):hover {
    text-decoration-line: underline;
  }
}

.wp-block-latest-posts__post-date {
  @include style-h5;
  color: $black;
  display: inline-block;
  &:before {
    content: "— ";
    margin-left: 0.5em;
  }
}

.has-small-font-size {
  @include style-small;
  @media (min-width: $sm) {
    padding-left: 5rem;
  }
}

.prose > a.more-link {
  display: inline-block;
  margin-bottom: $my;
  margin-left: calc((100vw - 39rem) / 2);
  margin-top: $my;
  max-width: 39rem;
  padding: 0 var(--gutter);
}

.prose video {
  height: auto;
}

p.has-background {
  margin-bottom: $my-xl;
  margin-top: $my-xl;
  padding: var(--gutter);
  &:first-child {
    margin-top: $my;
  }
  @media (min-width: $md) {
    max-width: calc(#{$container-width} + (var(--gutter) * 2));
    padding: calc(var(--gutter) * 2);
  }
}

.protected-label {
  @include visuallyhidden;
}

.post-password-form {
  label {
    display: block;
    margin-bottom: 1rem;
  }
  input[type="password"] {
    @include input-text;
    margin-top: 0.25rem; // WordPress puts the input within the label...
    padding: $container-padding 0 $container-padding $container-padding;
  }
  input[type="submit"] {
    @include input-submit;
  }
}
