.wp-block-quote.has-text-align-center {
  border-bottom: 1px solid $black;
  border-left: 0;
  border-top: 1px solid $black;
  padding-top: $my;
  > * {
    padding-left: 0;
  }
}

.wp-block-quote.has-text-align-right {
  border-left: 0;
  border-right: 1px solid $black;
  > * {
    padding-left: 0;
    padding-right: var(--gutter);
  }
}

.wp-block-quote.is-large,
.wp-block-quote.is-style-large {
  border: none;
  color: $black;
  margin: $my-lg auto;
  max-width: none;
  padding: 0;
  > * {
    max-width: $container-width-lg;
    padding-right: var(--gutter);
  }
  p:last-of-type {
    margin-bottom: 0.5rem;
  }
  > cite {
    @include style-h6;
    margin: 0 auto;
    max-width: $container-width !important;
    text-align: left;
  }
}

.wp-block-quote.is-large p,
.wp-block-quote.is-style-large p {
  @include style-h2;
}

.wp-block-pullquote {
  @include container;
  margin-bottom: $my-xl;
  margin-top: $my-xl;
  padding-bottom: 0;
  padding-top: 0;
  text-align: left;
  &:first-child {
    margin-top: $my;
  }
  blockquote {
    border-left: none;
    color: $black;
    margin-left: 0;
    margin-right: 0;
    > *:not(cite) {
      @include style-h1;
    }
  }
  cite {
    @include style-body;
  }
  ul,
  ol,
  p,
  cite {
    padding-left: 0;
  }
  p:last-of-type {
    margin-bottom: 0.5rem;
  }
}
