@import "variables";
@import "mixins";
@import "fonts";
@import "base";

// Some CSS to deal with all the WP craziness. Here be dragons, etc.
@import "wp.comments";
@import "wp.content";
@import "wp.gallery";
@import "wp.media";
@import "wp.menus";
@import "wp.pagination";
@import "wp.quotes";
@import "wp.searchform";
@import "wp.widgets";

@import "components";
@import "prism";
@import "utilities";

.wp-block {
  max-width: none;
}

.editor-styles-wrapper
  [aria-label="Block: Image"][data-align="left"]
  .wp-block-image.size-large,
.editor-styles-wrapper
  [aria-label="Block: Image"][data-align="right"]
  .wp-block-image.size-large {
  padding-left: 0;
  padding-right: 0;
}
