{
  "plugins": ["stylelint-order"],
  "extends": [
    "stylelint-config-recommended",
    "stylelint-config-recommended-scss"
  ],
  "rules": {
    "order/properties-alphabetical-order": true,
    "no-descending-specificity": null
  }
}
